@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot');
	src: url('iconfontd41d.eot?#iefix') format('eot'),
		url('iconfont.woff2') format('woff2'),
		url('iconfont.woff') format('woff'),
		url('iconfont.ttf') format('truetype'),
		url('iconfont.html#iconfont') format('svg');
}

.icon:before {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-analyze:before {
	content: "\E001";
}

.icon-arrow-long-left:before {
	content: "\E002";
}

.icon-arrow-long-right:before {
	content: "\E003";
}

.icon-arrow:before {
	content: "\E004";
}

.icon-automate:before {
	content: "\E005";
}

.icon-back:before {
	content: "\E006";
}

.icon-browser:before {
	content: "\E007";
}

.icon-browser2:before {
	content: "\E008";
}

.icon-calendar:before {
	content: "\E009";
}

.icon-caret:before {
	content: "\E00A";
}

.icon-chart:before {
	content: "\E00B";
}

.icon-chat:before {
	content: "\E00C";
}

.icon-chat2:before {
	content: "\E00D";
}

.icon-check:before {
	content: "\E00E";
}

.icon-click:before {
	content: "\E00F";
}

.icon-cloud:before {
	content: "\E010";
}

.icon-cmd:before {
	content: "\E011";
}

.icon-doc:before {
	content: "\E012";
}

.icon-download:before {
	content: "\E013";
}

.icon-dragdrop:before {
	content: "\E014";
}

.icon-eye:before {
	content: "\E015";
}

.icon-facebook:before {
	content: "\E016";
}

.icon-filter:before {
	content: "\E017";
}

.icon-github:before {
	content: "\E018";
}

.icon-help:before {
	content: "\E019";
}

.icon-id:before {
	content: "\E01A";
}

.icon-linkedin:before {
	content: "\E01B";
}

.icon-list:before {
	content: "\E01C";
}

.icon-mail:before {
	content: "\E01D";
}

.icon-mobile:before {
	content: "\E01E";
}

.icon-notifications:before {
	content: "\E01F";
}

.icon-paint:before {
	content: "\E020";
}

.icon-pie:before {
	content: "\E021";
}

.icon-puzzle:before {
	content: "\E022";
}

.icon-schedule:before {
	content: "\E023";
}

.icon-send:before {
	content: "\E024";
}

.icon-send2:before {
	content: "\E025";
}

.icon-settings:before {
	content: "\E026";
}

.icon-shield:before {
	content: "\E027";
}

.icon-star:before {
	content: "\E028";
}

.icon-switch:before {
	content: "\E029";
}

.icon-tag-add:before {
	content: "\E02A";
}

.icon-tag:before {
	content: "\E02B";
}

.icon-target:before {
	content: "\E02C";
}

.icon-testing:before {
	content: "\E02D";
}

.icon-time:before {
	content: "\E02E";
}

.icon-toggle:before {
	content: "\E02F";
}

.icon-twitter:before {
	content: "\E030";
}

.icon-user-check:before {
	content: "\E031";
}

.icon-user-explore:before {
	content: "\E032";
}

.icon-user-folder:before {
	content: "\E033";
}

.icon-user-help:before {
	content: "\E034";
}

.icon-user-search:before {
	content: "\E035";
}

.icon-user:before {
	content: "\E036";
}

.icon-users:before {
	content: "\E037";
}

.icon-visual:before {
	content: "\E038";
}

.icon-wink:before {
	content: "\E039";
}

.icon-world:before {
	content: "\E03A";
}
