<?xml version="1.0" encoding="UTF-8"?>
<svg width="55px" height="88px" viewBox="0 0 55 88" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 45.1 (43504) - http://www.bohemiancoding.com/sketch -->
    <title>Insert_card_icon</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <path d="M39,65 L39,84 C39,86.209139 37.209139,88 35,88 L14,88 C11.790861,88 10,86.209139 10,84 L10,65 L39,65 Z" id="path-1"></path>
    </defs>
    <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icons" transform="translate(-93.000000, -203.000000)">
            <g id="Insert_card_icon" transform="translate(93.000000, 203.000000)">
                <g id="Combined-Shape">
                    <use fill="#D8D8D8" fill-rule="evenodd" xlink:href="#path-1"></use>
                    <path stroke="#A2AAAD" stroke-width="2" d="M38,66 L11,66 L11,84 C11,85.6568542 12.3431458,87 14,87 L35,87 C36.6568542,87 38,85.6568542 38,84 L38,66 Z"></path>
                </g>
                <rect id="Rectangle-3" stroke="#A2AAAD" stroke-width="2" x="1" y="1" width="46" height="65" rx="5"></rect>
                <rect id="Rectangle-3-Copy-16" stroke="#A2AAAD" stroke-width="2" x="47" y="1" width="7" height="65" rx="3.5"></rect>
                <rect id="Rectangle-3-Copy" stroke="#A2AAAD" stroke-width="2" x="8" y="8" width="32" height="8" rx="4"></rect>
                <rect id="Rectangle-3-Copy-2" stroke="#A2AAAD" stroke-width="2" x="9" y="22" width="7" height="4" rx="2"></rect>
                <rect id="Rectangle-3-Copy-5" stroke="#A2AAAD" stroke-width="2" x="9" y="30" width="7" height="4" rx="2"></rect>
                <rect id="Rectangle-3-Copy-8" stroke="#A2AAAD" stroke-width="2" x="9" y="38" width="7" height="4" rx="2"></rect>
                <rect id="Rectangle-3-Copy-11" stroke="#A2AAAD" stroke-width="2" x="9" y="46" width="7" height="4" rx="2"></rect>
                <rect id="Rectangle-3-Copy-14" stroke="#A2AAAD" stroke-width="2" x="9" y="55" width="11" height="7" rx="3.5"></rect>
                <rect id="Rectangle-3-Copy-15" stroke="#A2AAAD" stroke-width="2" x="29" y="55" width="11" height="7" rx="3.5"></rect>
                <rect id="Rectangle-3-Copy-3" stroke="#A2AAAD" stroke-width="2" x="21" y="22" width="7" height="4" rx="2"></rect>
                <rect id="Rectangle-3-Copy-6" stroke="#A2AAAD" stroke-width="2" x="21" y="30" width="7" height="4" rx="2"></rect>
                <rect id="Rectangle-3-Copy-9" stroke="#A2AAAD" stroke-width="2" x="21" y="38" width="7" height="4" rx="2"></rect>
                <rect id="Rectangle-3-Copy-12" stroke="#A2AAAD" stroke-width="2" x="21" y="46" width="7" height="4" rx="2"></rect>
                <rect id="Rectangle-3-Copy-4" stroke="#A2AAAD" stroke-width="2" x="33" y="22" width="7" height="4" rx="2"></rect>
                <rect id="Rectangle-3-Copy-7" stroke="#A2AAAD" stroke-width="2" x="33" y="30" width="7" height="4" rx="2"></rect>
                <rect id="Rectangle-3-Copy-10" stroke="#A2AAAD" stroke-width="2" x="33" y="38" width="7" height="4" rx="2"></rect>
                <rect id="Rectangle-3-Copy-13" stroke="#A2AAAD" stroke-width="2" x="33" y="46" width="7" height="4" rx="2"></rect>
                <rect id="Rectangle-7" fill="#FFFFFF" fill-rule="evenodd" x="14" y="74" width="6" height="9"></rect>
            </g>
        </g>
    </g>
</svg>