
div[id*='ajaxsearchpro3_'] div.asp_loader,
div[id*='ajaxsearchpro3_'] div.asp_loader * {
    /* display: none; */
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    /* vertical-align: middle !important; */
    box-shadow: none;
}

div[id*='ajaxsearchpro3_'] div.asp_loader {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis:28px;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}

div[id*='ajaxsearchpro3_'] div.asp_loader-inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* vertical-align: text-top; */
    height: 100%;
}
 
@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7; }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; } }
@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7; }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; } }
 
div[id*='ajaxsearchpro3_'] div.asp_ball-pulse > div:nth-child(0) {
    -webkit-animation: scale 0.75s -0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s -0.36s infinite cubic-bezier(.2, .68, .18, 1.08); }
div[id*='ajaxsearchpro3_'] div.asp_ball-pulse > div:nth-child(1) {
    -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s -0.24s infinite cubic-bezier(.2, .68, .18, 1.08); }
div[id*='ajaxsearchpro3_'] div.asp_ball-pulse > div:nth-child(2) {
    -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s -0.12s infinite cubic-bezier(.2, .68, .18, 1.08); }
div[id*='ajaxsearchpro3_'] div.asp_ball-pulse > div:nth-child(3) {
    -webkit-animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08); }
div[id*='ajaxsearchpro3_'] div.asp_ball-pulse > div {
    background-color: rgb(154, 154, 154);
    width: 20%;
    height: 20%;
    border-radius: 100%;
    margin: 0;
    margin-top: 40%;
    margin-left: 10%;
    float: left;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block;
    vertical-align: text-top;
}

div[id*='ajaxsearchprores3_'] .asp_res_loader div.asp_loader,
div[id*='ajaxsearchprores3_'] .asp_res_loader div.asp_loader * {
    /* display: none; */
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    /* vertical-align: middle !important; */
    box-shadow: none;
}

div[id*='ajaxsearchprores3_'] .asp_res_loader div.asp_loader {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis:28px;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}

div[id*='ajaxsearchprores3_'] .asp_res_loader div.asp_loader-inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* vertical-align: text-top; */
    height: 100%;
}
 
@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7; }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; } }
@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7; }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; } }
 
div[id*='ajaxsearchprores3_'] .asp_res_loader div.asp_ball-pulse > div:nth-child(0) {
    -webkit-animation: scale 0.75s -0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s -0.36s infinite cubic-bezier(.2, .68, .18, 1.08); }
div[id*='ajaxsearchprores3_'] .asp_res_loader div.asp_ball-pulse > div:nth-child(1) {
    -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s -0.24s infinite cubic-bezier(.2, .68, .18, 1.08); }
div[id*='ajaxsearchprores3_'] .asp_res_loader div.asp_ball-pulse > div:nth-child(2) {
    -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s -0.12s infinite cubic-bezier(.2, .68, .18, 1.08); }
div[id*='ajaxsearchprores3_'] .asp_res_loader div.asp_ball-pulse > div:nth-child(3) {
    -webkit-animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08); }
div[id*='ajaxsearchprores3_'] .asp_res_loader div.asp_ball-pulse > div {
    background-color: rgb(154, 154, 154);
    width: 20%;
    height: 20%;
    border-radius: 100%;
    margin: 0;
    margin-top: 40%;
    margin-left: 10%;
    float: left;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block;
    vertical-align: text-top;
}

#ajaxsearchpro3_1 div.asp_loader, #ajaxsearchpro3_2 div.asp_loader,
#ajaxsearchpro3_1 div.asp_loader *, #ajaxsearchpro3_2 div.asp_loader * {
    /* display: none; */
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    /* vertical-align: middle !important; */
    box-shadow: none;
}

#ajaxsearchpro3_1 div.asp_loader, #ajaxsearchpro3_2 div.asp_loader {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis:28px;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}

#ajaxsearchpro3_1 div.asp_loader-inner, #ajaxsearchpro3_2 div.asp_loader-inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* vertical-align: text-top; */
    height: 100%;
}
 
@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7; }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; } }
@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7; }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1; } }
 
#ajaxsearchpro3_1 div.asp_ball-pulse > div:nth-child(0), #ajaxsearchpro3_2 div.asp_ball-pulse > div:nth-child(0) {
    -webkit-animation: scale 0.75s -0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s -0.36s infinite cubic-bezier(.2, .68, .18, 1.08); }
#ajaxsearchpro3_1 div.asp_ball-pulse > div:nth-child(1), #ajaxsearchpro3_2 div.asp_ball-pulse > div:nth-child(1) {
    -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s -0.24s infinite cubic-bezier(.2, .68, .18, 1.08); }
#ajaxsearchpro3_1 div.asp_ball-pulse > div:nth-child(2), #ajaxsearchpro3_2 div.asp_ball-pulse > div:nth-child(2) {
    -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s -0.12s infinite cubic-bezier(.2, .68, .18, 1.08); }
#ajaxsearchpro3_1 div.asp_ball-pulse > div:nth-child(3), #ajaxsearchpro3_2 div.asp_ball-pulse > div:nth-child(3) {
    -webkit-animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08);
    animation: scale 0.75s 0s infinite cubic-bezier(.2, .68, .18, 1.08); }
#ajaxsearchpro3_1 div.asp_ball-pulse > div, #ajaxsearchpro3_2 div.asp_ball-pulse > div {
    background-color: rgb(154, 154, 154);
    width: 20%;
    height: 20%;
    border-radius: 100%;
    margin: 0;
    margin-top: 40%;
    margin-left: 10%;
    float: left;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block;
    vertical-align: text-top;
}

@-webkit-keyframes asp_an_fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes asp_an_fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.asp_an_fadeInDown {
    -webkit-animation-name:  asp_an_fadeInDown;
    animation-name:  asp_an_fadeInDown;
}
 

div.asp_r.asp_r_3,
div.asp_r.asp_r_3 *,
div.asp_m.asp_m_3,
div.asp_m.asp_m_3 *,
div.asp_s.asp_s_3,
div.asp_s.asp_s_3 * {
    -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: content-box; /* Firefox, other Gecko */
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    border: 0;
    border-radius: 0;
    text-transform: none;
    text-shadow: none;
    box-shadow: none;
    text-decoration: none;
    text-align: left;
    letter-spacing: normal;
}

div.asp_r.asp_r_3,
div.asp_m.asp_m_3,
div.asp_s.asp_s_3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* Margin and padding gets wrecked if set with compatibility.. */
div.asp_r.asp_r_3,
div.asp_r.asp_r_3 *,
div.asp_m.asp_m_3,
div.asp_m.asp_m_3 *,
div.asp_s.asp_s_3,
div.asp_s.asp_s_3 * {
    padding: 0;
    margin: 0;
}

.wpdreams_clear {
    clear: both;
}

    #ajaxsearchpro3_1,
    #ajaxsearchpro3_2,
div.asp_m.asp_m_3 {
  width: 100%;
  height: auto;
  max-height: none;
  border-radius: 5px;
  background: #d1eaff;
                background-image: -moz-radial-gradient(center, ellipse cover,  rgb(255, 255, 255), rgb(255, 255, 255));
            background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, rgb(255, 255, 255), rgb(255, 255, 255));
            background-image: -webkit-radial-gradient(center, ellipse cover,  rgb(255, 255, 255), rgb(255, 255, 255));
            background-image: -o-radial-gradient(center, ellipse cover,  rgb(255, 255, 255), rgb(255, 255, 255));
            background-image: -ms-radial-gradient(center, ellipse cover,  rgb(255, 255, 255), rgb(255, 255, 255));
            background-image: radial-gradient(ellipse at center,  rgb(255, 255, 255), rgb(255, 255, 255));
          overflow: hidden;
  border:1px none rgba(228, 228, 228, 1);border-radius:0px 0px 0px 0px;  box-shadow:0px 0px 0px 0px #e4e4e4 ;}

    #ajaxsearchpro3_1 .probox,
    #ajaxsearchpro3_2 .probox,
div.asp_m.asp_m_3 .probox {
  margin: 40px;
  height: 77px;
              background-image: -moz-radial-gradient(center, ellipse cover,  rgb(255, 255, 255), rgb(255, 255, 255));
            background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, rgb(255, 255, 255), rgb(255, 255, 255));
            background-image: -webkit-radial-gradient(center, ellipse cover,  rgb(255, 255, 255), rgb(255, 255, 255));
            background-image: -o-radial-gradient(center, ellipse cover,  rgb(255, 255, 255), rgb(255, 255, 255));
            background-image: -ms-radial-gradient(center, ellipse cover,  rgb(255, 255, 255), rgb(255, 255, 255));
            background-image: radial-gradient(ellipse at center,  rgb(255, 255, 255), rgb(255, 255, 255));
          border:1px none rgb(249, 0, 0);border-radius:0px 0px 0px 0px;  box-shadow:0px 0px 0px 0px rgb(181, 181, 181) inset;}



p[id*=asp-try-3] {
    color: rgb(85, 85, 85) !important;
    display: block;
}

div.asp_main_container+[id*=asp-try-3] {
        width: 100%;
}

p[id*=asp-try-3] a {
    color: rgb(255, 181, 86) !important;
}

p[id*=asp-try-3] a:after {
    color: rgb(85, 85, 85) !important;
    display: inline;
    content: ',';
}

p[id*=asp-try-3] a:last-child:after {
    display: none;
}

    #ajaxsearchpro3_1 .probox .proinput,
    #ajaxsearchpro3_2 .probox .proinput,
div.asp_m.asp_m_3 .probox .proinput {
  font-weight:normal;font-family:inherit;color:rgb(0, 0, 0);font-size:48px;line-height:48px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);    line-height: normal;
  flex-grow: 1;
  order: 5;
  /* Ipad and stuff.. */
  -webkit-flex-grow: 1;
  -webkit-order: 5;
}

    #ajaxsearchpro3_1 .probox .proinput input.orig,
    #ajaxsearchpro3_2 .probox .proinput input.orig,
div.asp_m.asp_m_3 .probox .proinput input.orig {
    font-weight:normal;font-family:inherit;color:rgb(0, 0, 0);font-size:48px;line-height:48px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);    line-height: normal;
    border: 0;
    box-shadow: none;
    height: 77px;
    position: relative;
    z-index: 2;
    padding: 0 !important;
    padding-top: 2px !important;
    margin: -1px 0 0 -4px !important;
    width: 100%;
    background: transparent !important;
}

    #ajaxsearchpro3_1 .probox .proinput input.autocomplete,
    #ajaxsearchpro3_2 .probox .proinput input.autocomplete,
div.asp_m.asp_m_3 .probox .proinput input.autocomplete {
    font-weight:normal;font-family:inherit;color:rgb(0, 0, 0);font-size:48px;line-height:48px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);    line-height: normal;
    opacity: 0.25;
    height: 77px;
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 !important;
    margin: -1px 0 0 -4px !important;
    margin-top: -77px !important;
    width: 100%;
    background: transparent !important;
}

    .rtl #ajaxsearchpro3_1 .probox .proinput input.orig,
    .rtl #ajaxsearchpro3_2 .probox .proinput input.orig,
    .rtl #ajaxsearchpro3_1 .probox .proinput input.autocomplete,
    .rtl #ajaxsearchpro3_2 .probox .proinput input.autocomplete,
.rtl div.asp_m.asp_m_3 .probox .proinput input.orig,
.rtl div.asp_m.asp_m_3 .probox .proinput input.autocomplete {
    font-weight:normal;font-family:inherit;color:rgb(0, 0, 0);font-size:48px;line-height:48px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);    line-height: normal;
    direction: rtl;
    text-align: right;
}

    .rtl #ajaxsearchpro3_1 .probox .proinput,
    .rtl #ajaxsearchpro3_2 .probox .proinput,
.rtl div.asp_m.asp_m_3 .probox .proinput {
    /*float: right;*/
    margin-right: 2px;
}

    .rtl #ajaxsearchpro3_1 .probox .proloading,
    .rtl #ajaxsearchpro3_1 .probox .proclose,
    .rtl #ajaxsearchpro3_2 .probox .proloading,
    .rtl #ajaxsearchpro3_2 .probox .proclose,
.rtl div.asp_m.asp_m_3 .probox .proloading,
.rtl div.asp_m.asp_m_3 .probox .proclose {
    order: 3;
}


div.asp_m.asp_m_3 .probox .proinput input.orig::-webkit-input-placeholder {
    font-weight:normal;font-family:inherit;color:rgb(0, 0, 0);font-size:48px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);    opacity: 0.85;
}
div.asp_m.asp_m_3 .probox .proinput input.orig::-moz-placeholder {
    font-weight:normal;font-family:inherit;color:rgb(0, 0, 0);font-size:48px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);    opacity: 0.85;
}
div.asp_m.asp_m_3 .probox .proinput input.orig:-ms-input-placeholder {
    font-weight:normal;font-family:inherit;color:rgb(0, 0, 0);font-size:48px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);    opacity: 0.85;
}
div.asp_m.asp_m_3 .probox .proinput input.orig:-moz-placeholder {
    font-weight:normal;font-family:inherit;color:rgb(0, 0, 0);font-size:48px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);    opacity: 0.85;
    line-height: normal !important;
}

    #ajaxsearchpro3_1 .probox .proinput input.autocomplete,
    #ajaxsearchpro3_2 .probox .proinput input.autocomplete,
div.asp_m.asp_m_3 .probox .proinput input.autocomplete {
    font-weight:normal;font-family:inherit;color:rgb(0, 0, 0);font-size:48px;line-height:48px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);    line-height: normal;
    border: 0;
    box-shadow: none;
}

    #ajaxsearchpro3_1 .probox .proloading,
    #ajaxsearchpro3_1 .probox .proclose,
    #ajaxsearchpro3_1 .probox .promagnifier,
    #ajaxsearchpro3_1 .probox .prosettings,
    #ajaxsearchpro3_2 .probox .proloading,
    #ajaxsearchpro3_2 .probox .proclose,
    #ajaxsearchpro3_2 .probox .promagnifier,
    #ajaxsearchpro3_2 .probox .prosettings,
div.asp_m.asp_m_3 .probox .proloading,
div.asp_m.asp_m_3 .probox .proclose,
div.asp_m.asp_m_3 .probox .promagnifier,
div.asp_m.asp_m_3 .probox .prosettings {
  width: 77px;
  height: 77px;
  flex: 0 0 77px;
  flex-grow: 0;
  order: 7;
    /* Ipad and stuff.. */
    -webkit-flex: 0 0 77px;
    -webkit-flex-grow: 0;
    -webkit-order: 7;
}

    #ajaxsearchpro3_1 .probox .proclose svg,
    #ajaxsearchpro3_2 .probox .proclose svg,
div.asp_m.asp_m_3 .probox .proclose svg {
     fill: rgb(29, 172, 128);
     background: rgb(255, 255, 255);
     box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.9);
}

	#ajaxsearchpro3_1 .probox .proloading,
	#ajaxsearchpro3_2 .probox .proloading,
div.asp_m.asp_m_3 .probox .proloading {
    width: 77px;
    height: 77px;
    min-width: 77px;
    min-height: 77px;
    max-width: 77px;
    max-height: 77px;
}

	#ajaxsearchpro3_1 .probox .proloading .asp_loader,
	#ajaxsearchpro3_2 .probox .proloading .asp_loader,
div.asp_m.asp_m_3 .probox .proloading .asp_loader {
    width: 73px;
    height: 73px;
    min-width: 73px;
    min-height: 73px;
    max-width: 73px;
    max-height: 73px;
}

	#ajaxsearchpro3_1 .probox .promagnifier,
	#ajaxsearchpro3_2 .probox .promagnifier,
div.asp_m.asp_m_3 .probox .promagnifier {
	width: auto;
	height: 77px;
	flex: 0 0 auto;
	order: 7;
	/* Ipad and stuff.. */
	-webkit-flex: 0 0 auto;
	-webkit-order: 7;
}


	#ajaxsearchpro3_1 .probox .promagnifier div.innericon,
	#ajaxsearchpro3_2 .probox .promagnifier div.innericon,
div.asp_m.asp_m_3 .probox .promagnifier div.innericon {
	width: 77px;
	height: 77px;
	float: right;
}

	#ajaxsearchpro3_1 .probox .promagnifier div.asp_text_button,
	#ajaxsearchpro3_2 .probox .promagnifier div.asp_text_button,
div.asp_m.asp_m_3 .probox .promagnifier div.asp_text_button {
	width: auto;
	height: 77px;
	float: right;
	margin: 0;
		    padding: 0 10px 0 2px;
	    font-weight:normal;font-family:"Open Sans";color:rgb(51, 51, 51);font-size:15px;line-height:auto;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);    /* to center the text, this must be identical with the height */
    line-height: 77px;
}

    #ajaxsearchpro3_1 .probox .promagnifier .innericon svg,
    #ajaxsearchpro3_2 .probox .promagnifier .innericon svg,
div.asp_m.asp_m_3 .probox .promagnifier .innericon svg {
  fill: rgb(73, 73, 73);
}

    #ajaxsearchpro3_1 .probox .prosettings .innericon svg,
    #ajaxsearchpro3_2 .probox .prosettings .innericon svg,
div.asp_m.asp_m_3 .probox .prosettings .innericon svg {
  fill: rgb(69, 69, 69);
}


    #ajaxsearchpro3_1.asp_msie .probox .proloading,
    #ajaxsearchpro3_2.asp_msie .probox .proloading,
div.asp_m.asp_m_3.asp_msie .probox .proloading {
    background-image: url("../../plugins/ajax-search-pro/img/loading/newload1.gif");
    float: right;
}

    #ajaxsearchpro3_1 .probox .promagnifier,
    #ajaxsearchpro3_2 .probox .promagnifier,
div.asp_m.asp_m_3 .probox .promagnifier {
        width: 77px;
    height: 77px;
  background: transparent;  background-position:center center;
  background-repeat: no-repeat;

  order: 11;
  /* Ipad and stuff fix */
  -webkit-order: 11;
  float: right; /* IE9, no flexbox */
  border:0px solid rgb(255, 255, 255);border-radius:0px 0px 0px 0px;  box-shadow:-1px 1px 0px 0px rgba(255, 255, 255, 0.64) inset;  cursor: pointer;
  background-size: 100% 100%;

  background-position:center center;
  background-repeat: no-repeat;
  cursor: pointer;
}



    #ajaxsearchpro3_1 .probox .prosettings,
    #ajaxsearchpro3_2 .probox .prosettings,
div.asp_m.asp_m_3 .probox .prosettings {
  width: 77px;
  height: 77px;
  background: transparent;  background-position:center center;
  background-repeat: no-repeat;
  order: 10;
  /* Ipad and stuff fix*/
  -webkit-order: 10;
  float: right; /* IE9, no flexbox */
  border:0px solid rgb(255, 255, 255);border-radius:0px 0px 0px 0px;  box-shadow:0px 1px 0px 0px rgba(255, 255, 255, 0.64) inset;  cursor: pointer;
  background-size: 100% 100%;
  align-self: flex-end;
}


    #ajaxsearchprores3_1,
    #ajaxsearchprores3_2,
div.asp_r.asp_r_3 {
    position: absolute;
    z-index: 11000;
}

    #ajaxsearchprores3_1 .results .asp_nores .asp_keyword,
    #ajaxsearchprores3_2 .results .asp_nores .asp_keyword,
div.asp_r.asp_r_3 .results .asp_nores .asp_keyword {
    padding: 0 6px;
    cursor: pointer;
    font-weight:normal;font-family:inherit;color:rgb(74, 74, 74);font-size:13px;line-height:1.35em;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);    font-weight: bold;
}

    #ajaxsearchprores3_1 .results .item,
    #ajaxsearchprores3_2 .results .item,
div.asp_r.asp_r_3 .results .item {
    height: auto;
    background: rgb(255, 255, 255);
}

    #ajaxsearchprores3_1 .results .item.hovered,
    #ajaxsearchprores3_2 .results .item.hovered,
div.asp_r.asp_r_3 .results .item.hovered {
              background-image: -moz-radial-gradient(center, ellipse cover,  rgb(244, 244, 244), rgb(246, 246, 246));
            background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, rgb(244, 244, 244), rgb(246, 246, 246));
            background-image: -webkit-radial-gradient(center, ellipse cover,  rgb(244, 244, 244), rgb(246, 246, 246));
            background-image: -o-radial-gradient(center, ellipse cover,  rgb(244, 244, 244), rgb(246, 246, 246));
            background-image: -ms-radial-gradient(center, ellipse cover,  rgb(244, 244, 244), rgb(246, 246, 246));
            background-image: radial-gradient(ellipse at center,  rgb(244, 244, 244), rgb(246, 246, 246));
        }

    #ajaxsearchprores3_1 .results .item .asp_image,
    #ajaxsearchprores3_2 .results .item .asp_image,
div.asp_r.asp_r_3 .results .item .asp_image {
  width: 0px;
  height: 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

    #ajaxsearchprores3_1 .results .item .asp_item_img,
    #ajaxsearchprores3_2 .results .item .asp_item_img,
div.asp_r.asp_r_3 .results .item .asp_item_img {
   background-size: cover;
   background-repeat: no-repeat;
}

    #ajaxsearchprores3_1 .results .item .asp_item_overlay_img,
    #ajaxsearchprores3_2 .results .item .asp_item_overlay_img,
div.asp_r.asp_r_3 .results .item .asp_item_overlay_img {
   background-size: cover;
   background-repeat: no-repeat;
}


    #ajaxsearchprores3_1 .results .item .asp_content,
    #ajaxsearchprores3_2 .results .item .asp_content,
div.asp_r.asp_r_3 .results .item .asp_content {
    overflow: hidden;
    background: transparent;
    margin: 0;
    padding: 0 10px;
}

    #ajaxsearchprores3_1 .results .item .asp_content h3,
    #ajaxsearchprores3_2 .results .item .asp_content h3,
div.asp_r.asp_r_3 .results .item .asp_content h3 {
  margin: 0;
  padding: 0;
  display: inline-block;
  line-height: inherit;
  font-weight:normal;font-family:inherit;color:rgb(0, 0, 0);font-size:24px;line-height:2em;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);}

    #ajaxsearchprores3_1 .results .item .asp_content h3 a,
    #ajaxsearchprores3_2 .results .item .asp_content h3 a,
div.asp_r.asp_r_3 .results .item .asp_content h3 a {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-weight:normal;font-family:inherit;color:rgb(0, 0, 0);font-size:24px;line-height:2em;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);}

    #ajaxsearchprores3_1 .results .item .asp_content h3 a:hover,
    #ajaxsearchprores3_2 .results .item .asp_content h3 a:hover,
div.asp_r.asp_r_3 .results .item .asp_content h3 a:hover {
  font-weight:normal;font-family:inherit;color:rgb(0, 0, 0);font-size:24px;line-height:2em;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);}

    #ajaxsearchprores3_1 .results .item div.etc,
    #ajaxsearchprores3_2 .results .item div.etc,
div.asp_r.asp_r_3 .results .item div.etc {
  padding: 0;
  font-size: 13px;
  line-height: 1.3em;
  margin-bottom: 6px;
}

    #ajaxsearchprores3_1 .results .item .etc .asp_author,
    #ajaxsearchprores3_2 .results .item .etc .asp_author,
div.asp_r.asp_r_3 .results .item .etc .asp_author {
  padding: 0;
  font-weight:normal;font-family:inherit;color:rgb(161, 161, 161);font-size:11px;line-height:13px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);}

    #ajaxsearchprores3_1 .results .item .etc .asp_date,
    #ajaxsearchprores3_2 .results .item .etc .asp_date,
div.asp_r.asp_r_3 .results .item .etc .asp_date {
  margin: 0 0 0 10px;
  padding: 0;
  font-weight:normal;font-family:inherit;color:rgb(173, 173, 173);font-size:11px;line-height:15px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);}

    #ajaxsearchprores3_1 .results .item div.asp_content,
    #ajaxsearchprores3_2 .results .item div.asp_content,
div.asp_r.asp_r_3 .results .item div.asp_content {
    margin: 0;
    padding: 0;
    font-weight:normal;font-family:inherit;color:rgb(74, 74, 74);font-size:13px;line-height:1.35em;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);}

    #ajaxsearchprores3_1 span.highlighted,
    #ajaxsearchprores3_2 span.highlighted,
div.asp_r.asp_r_3 span.highlighted {
    font-weight: bold;
    color: rgba(217, 49, 43, 1);
    background-color: rgba(238, 238, 238, 1);
}

    #ajaxsearchprores3_1 p.showmore,
    #ajaxsearchprores3_2 p.showmore,
div.asp_r.asp_r_3 p.showmore {
  text-align: center;
  margin: 5px 0 0;
  font-weight:normal;font-family:"Open Sans";color:rgb(5, 94, 148);font-size:12px;line-height:15px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);}

    #ajaxsearchprores3_1 p.showmore a,
    #ajaxsearchprores3_2 p.showmore a,
div.asp_r.asp_r_3 p.showmore a {
    font-weight:normal;font-family:"Open Sans";color:rgb(5, 94, 148);font-size:12px;line-height:15px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);    padding: 10px 5px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
    display: block;
    text-align: center;
}

    #ajaxsearchprores3_1 .asp_group_header,
    #ajaxsearchprores3_2 .asp_group_header,
div.asp_r.asp_r_3 .asp_group_header {
  background: #DDDDDD;
  background: rgb(246, 246, 246);
  border-radius: 3px 3px 0 0;
  border-top: 1px solid rgb(248, 248, 248);
  border-left: 1px solid rgb(248, 248, 248);
  border-right: 1px solid rgb(248, 248, 248);
  margin: 10px 0 -3px;
  padding: 7px 0 7px 10px;
  position: relative;
  z-index: 1000;
  font-weight:bold;font-family:"Open Sans";color:rgb(5, 94, 148);font-size:11px;line-height:13px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);}

    #ajaxsearchprores3_1 .asp_res_loader,
    #ajaxsearchprores3_2 .asp_res_loader,
div.asp_r.asp_r_3 .asp_res_loader {
    background: rgb(255, 255, 255);
    height: 200px;
    padding: 10px;
}

    #ajaxsearchprores3_1.isotopic .asp_res_loader,
    #ajaxsearchprores3_2.isotopic .asp_res_loader,
div.asp_r.asp_r_3.isotopic .asp_res_loader {
    background: rgba(255, 255, 255, 0);
}

    #ajaxsearchprores3_1 .asp_res_loader .asp_loader,
    #ajaxsearchprores3_2 .asp_res_loader .asp_loader,
div.asp_r.asp_r_3 .asp_res_loader .asp_loader {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}


/* Search settings */
    div.asp_s.asp_s_3.searchsettings,
    div.asp_s.asp_s_3.searchsettings,
div.asp_s.asp_s_3.searchsettings  {
  direction: ltr;
  padding: 0;
              background-image: -webkit-linear-gradient(185deg, rgb(255, 255, 255), rgb(255, 255, 255));
            background-image: -moz-linear-gradient(185deg, rgb(255, 255, 255), rgb(255, 255, 255));
            background-image: -o-linear-gradient(185deg, rgb(255, 255, 255), rgb(255, 255, 255));
            background-image: -ms-linear-gradient(185deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
            background-image: linear-gradient(185deg, rgb(255, 255, 255), rgb(255, 255, 255));
          box-shadow:0px 0px 0px 1px rgb(181, 181, 181) inset;;
  max-width: 208px;
  z-index: 11001;
}

    #ajaxsearchprobsettings3_1.searchsettings,
    #ajaxsearchprobsettings3_2.searchsettings,
div.asp_sb.asp_sb_3.searchsettings {
  max-width: none;
}

    div.asp_s.asp_s_3.searchsettings form,
    div.asp_s.asp_s_3.searchsettings form,
div.asp_s.asp_s_3.searchsettings form {
  display: flex;
}

    div.asp_sb.asp_sb_3.searchsettings form,
    div.asp_sb.asp_sb_3.searchsettings form,
div.asp_sb.asp_sb_3.searchsettings form {
  display: flex;
}


    #ajaxsearchprosettings3_1.searchsettings div.asp_option_label,
    #ajaxsearchprosettings3_2.searchsettings div.asp_option_label,
    #ajaxsearchprosettings3_1.searchsettings .asp_label,
    #ajaxsearchprosettings3_2.searchsettings .asp_label,
div.asp_s.asp_s_3.searchsettings div.asp_option_label,
div.asp_s.asp_s_3.searchsettings .asp_label {
  font-weight:bold;font-family:"Open Sans";color:rgb(43, 43, 43);font-size:12px;line-height:15px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);}

    #ajaxsearchprosettings3_1.searchsettings .asp_option_inner label,
    #ajaxsearchprosettings3_2.searchsettings .asp_option_inner label,
div.asp_sb.asp_sb_3.searchsettings .asp_option_inner label,
div.asp_s.asp_s_3.searchsettings .asp_option_inner label {
              background-image: -webkit-linear-gradient(180deg, rgb(34, 34, 34), rgb(69, 72, 77));
            background-image: -moz-linear-gradient(180deg, rgb(34, 34, 34), rgb(69, 72, 77));
            background-image: -o-linear-gradient(180deg, rgb(34, 34, 34), rgb(69, 72, 77));
            background-image: -ms-linear-gradient(180deg, rgb(34, 34, 34) 0%, rgb(69, 72, 77) 100%);
            background-image: linear-gradient(180deg, rgb(34, 34, 34), rgb(69, 72, 77));
        }

    #ajaxsearchprosettings3_1.searchsettings .asp_option_inner label:after,
    #ajaxsearchprosettings3_2.searchsettings .asp_option_inner label:after,
    #ajaxsearchprobsettings3_1.searchsettings .asp_option_inner label:after,
    #ajaxsearchprobsettings3_2.searchsettings .asp_option_inner label:after,
div.asp_sb.asp_sb_3.searchsettings .asp_option_inner label:after,
div.asp_s.asp_s_3.searchsettings .asp_option_inner label:after {
    font-family: 'asppsicons2';
    border: none;
    content: "\e800";
    display: block;
    position: static;
    font-size: 11px;
    color: rgb(255, 255, 255);
    margin: 1px 0 0 0px !important;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
}

    #ajaxsearchprosettings3_1.searchsettings .asp_sett_scroll,
    #ajaxsearchprosettings3_2.searchsettings .asp_sett_scroll,
div.asp_s.asp_s_3.searchsettings .asp_sett_scroll {
  max-height: 220px;
  overflow: auto;
}

    #ajaxsearchprobsettings3_1.searchsettings .asp_sett_scroll,
    #ajaxsearchprobsettings3_2.searchsettings .asp_sett_scroll,
div.asp_sb.asp_sb_3.searchsettings .asp_sett_scroll {
  max-height: 220px;
  overflow: auto;
}

    #ajaxsearchprosettings3_1.searchsettings fieldset,
    #ajaxsearchprosettings3_2.searchsettings fieldset,
div.asp_s.asp_s_3.searchsettings fieldset {
  width: 200px;
  min-width: 200px;
  max-width: 10000px;
}

    #ajaxsearchprobsettings3_1.searchsettings fieldset,
    #ajaxsearchprobsettings3_2.searchsettings fieldset,
div.asp_sb.asp_sb_3.searchsettings fieldset {
  width: 200px;
  min-width: 200px;
  max-width: 10000px;
}

    #ajaxsearchprosettings3_1.searchsettings fieldset legend,
    #ajaxsearchprosettings3_2.searchsettings fieldset legend,
div.asp_s.asp_s_3.searchsettings fieldset legend {
  padding: 0 0 0 10px;
  margin: 0;
  background: transparent;
  font-weight:normal;font-family:"Open Sans";color:rgb(71, 71, 71);font-size:13px;line-height:15px;text-shadow:0px 0px 0px rgba(255, 255, 255, 0);}


div.asp_s.asp_s_3.searchsettings fieldset .chosen-container,
div.asp_sb.asp_sb_3.searchsettings fieldset .chosen-container {
  min-width: 170px;
}


    #ajaxsearchprores3_1.vertical,
    #ajaxsearchprores3_2.vertical,
div.asp_r.asp_r_3.vertical {
    padding: 4px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    border:1px none rgba(228, 228, 228, 1);border-radius:0px 0px 0px 0px;    box-shadow:0px 0px 0px 0px #000000 inset;    visibility: hidden;
    display: none;
}

    #ajaxsearchprores3_1.vertical .results,
    #ajaxsearchprores3_2.vertical .results,
div.asp_r.asp_r_3.vertical .results {
    max-height: none;
}

    #ajaxsearchprores3_1.vertical .item .asp_content h3,
    #ajaxsearchprores3_2.vertical .item .asp_content h3,
div.asp_r.asp_r_3.vertical .item .asp_content h3 {
    display: inline;
}

    #ajaxsearchprores3_1.vertical .results .item .asp_content,
    #ajaxsearchprores3_2.vertical .results .item .asp_content,
div.asp_r.asp_r_3.vertical .results .item .asp_content {
    overflow: hidden;
    width: auto;
    height: auto;
    background: transparent;
    margin: 0;
    padding: 0 10px;
}

    #ajaxsearchprores3_1.vertical .results .item .asp_image,
    #ajaxsearchprores3_2.vertical .results .item .asp_image,
div.asp_r.asp_r_3.vertical .results .item .asp_image {
    width: 0px;
    height: 0px;
    margin: 2px 8px 0px 0;
}

    #ajaxsearchprores3_1.vertical .results .asp_spacer,
    #ajaxsearchprores3_2.vertical .results .asp_spacer,
div.asp_r.asp_r_3.vertical .results .asp_spacer {
    background: rgba(255, 255, 255, 0.55);
}

    #ajaxsearchprores3_1 .mCSBap_scrollTools .mCSBap_dragger .mCSBap_dragger_bar,
    #ajaxsearchprores3_2 .mCSBap_scrollTools .mCSBap_dragger .mCSBap_dragger_bar,
div.asp_r.asp_r_3 .mCSBap_scrollTools .mCSBap_dragger .mCSBap_dragger_bar {
    background:#fff; /* rgba fallback */
    background:rgba(255, 255, 255,0.9);
}

    #ajaxsearchprores3_1 .mCSBap_scrollTools .mCSBap_dragger:hover .mCSBap_dragger_bar,
    #ajaxsearchprores3_2 .mCSBap_scrollTools .mCSBap_dragger:hover .mCSBap_dragger_bar,
div.asp_r.asp_r_3 .mCSBap_scrollTools .mCSBap_dragger:hover .mCSBap_dragger_bar {
    background:rgba(255, 255, 255,0.95);
}

div.asp_r.asp_r_3 .mCSBap_scrollTools .mCSBap_dragger:active .mCSBap_dragger_bar,
div.asp_r.asp_r_3 .mCSBap_scrollTools .mCSBap_dragger.mCSBap_dragger_onDrag .mCSBap_dragger_bar{
    background:rgba(255, 255, 255,1);
}

div.asp_r.asp_r_3.horizontal .mCSBap_scrollTools .mCSBap_dragger .mCSBap_dragger_bar{
    background:#fff; /* rgba fallback */
    background:rgb(250, 250, 250);
    opacity: 0.9;
}
div.asp_r.asp_r_3.horizontal .mCSBap_scrollTools .mCSBap_dragger:hover .mCSBap_dragger_bar{
    background:rgb(250, 250, 250);
    opacity: 0.95;
}

div.asp_r.asp_r_3.horizontal .mCSBap_scrollTools .mCSBap_dragger:active .mCSBap_dragger_bar,
div.asp_r.asp_r_3.horizontal .mCSBap_scrollTools .mCSBap_dragger.mCSBap_dragger_onDrag .mCSBap_dragger_bar{
    background: rgb(250, 250, 250);
}

div.asp_r.asp_r_3 .mCSBap_scrollTools .mCSBap_buttonDown {
    position: relative;
    margin: -16px 0px 0 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: rgb(62, 62, 62) transparent transparent transparent;
}

div.asp_r.asp_r_3 .mCSBap_scrollTools .mCSBap_buttonUp {
    position: relative;
    margin: -8px 0px 0 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent rgb(62, 62, 62) transparent;
}/* Generated at: 2019-01-31 11:38:03 */