
<div class="qr-wrapper" >

    <a href="javascript:;" class="jqmClose"><span>×</span></a>

    <div class="we-chat-qr-image">

    </div>
    <img src="https://www.eastwestbank.com/Content/img/wechat-scan-base.png" alt="WeChat QR Code" title="WeChat QR Code" />
</div>

