﻿@media print {

    header {
        display: none;
    }

    #frmDirectionsAddress {
        display: none;
    }

    .branch-locator-results-page__showing-results
    {
        display: none;
    }

    .row--text-left.row--float-right{
        width: 40%;
    }

    .link-back
    {
        display: none;
    }

    footer{
        display: none;
    }
}


